body {
  font-family: "Unispace";
  letter-spacing: 0.5px;
  word-spacing: 0.1px;
}

#page {
  min-height: 200px;
  width: 60%;
  min-width: 600px;
  background: whitesmoke;
  margin: 50px auto;
  padding: 30px;
  color: #000000;
}

.photo {
  width: 15%;
  min-width: 130px;
  float: left;
  margin-right: 20px;
}

.latihan {
  font-family: serif;
  font-size: 40px;
  background-color: aqua;
  color: rgb(98, 0, 255);
}

.pilih {
  color: rgb(226, 0, 226);
}

.header {
  border-bottom: 2px solid #dee7ec;
}
